# Versions of registry dependencies managed by asdf in gdk build.
golang            1.25
nodejs            22.11.0
golangci-lint     2.5.0
# For linting documentation
markdownlint-cli2 0.19.0
lychee            0.21.0
vale              3.13.0
gomigrate         latest
gotestsum         latest
