# pipdeptree --warn silence  -f > requirements.txt
click==8.2.1
python-dateutil==2.9.0.post0
  six==1.17.0
python-gitlab==6.2.0
  requests==2.32.4
    charset-normalizer==3.4.2
    idna==3.10
    urllib3==2.5.0
    certifi==2025.7.14
  requests-toolbelt==1.0.0
    requests==2.32.4
      charset-normalizer==3.4.2
      idna==3.10
      urllib3==2.5.0
      certifi==2025.7.14
